@charset "UTF-8";
* {
font-family: Arial, Helvetica, sans-serif;
/* height: 100%;    */
}
body {
    background-image: linear-gradient(to right,#C2DDC8 ,#99BFB3);
}

main {
    background-color: white;
    border-radius: 5px 5px 10px #99BFB3 ;
    box-shadow: #C2DDC8;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 { color: #E2C547;
text-align: center;

}
h2 { color: #8b5858;

    
}



p{
    text-align: justify;
}